@charset "UTF-8";
.qiita-widget {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "\30E1\30A4\30EA\30AA", meiryo, sans-serif; }
  .qiita-widget a:link, .qiita-widget a:visited {
    color: #337ab7; }
  .qiita-widget a:hover {
    text-decoration: underline; }
  .qiita-widget img {
    width: 100%;
    height: auto; }
  .qiita-widget__articles-head {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px; }
  .qiita-widget__articles {
    margin-top: 15px; }

.qiita-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .qiita-user__image {
    width: 60px;
    height: 60px;
    margin-right: 5px; }
  .qiita-user__url:hover > * {
    text-decoration: underline; }
  .qiita-user__id {
    font-size: 16px;
    margin-bottom: 3px; }
  .qiita-user__likes-num, .qiita-user__followers-num, .qiita-user__items-num {
    font-weight: 700;
    font-size: 14px; }
  .qiita-user__likes-unit, .qiita-user__followers-unit, .qiita-user__items-unit {
    font-size: 12px; }

.qiita-article-list {
  list-style: none;
  padding-left: 10px;
  margin-left: -10px; }

.qiita-article {
  padding-left: 10px; }
  .qiita-article__title {
    font-size: 13px;
    line-height: 1.42857;
    margin-bottom: 5px;
    font-weight: normal; }
    .qiita-article__title:before {
      display: inline-block;
      content: "\2022";
      color: #999;
      margin-left: -10px;
      margin-right: 5px; }

.transition {
  display: block;
  overflow: hidden; }
  .transition__inner {
    display: inline-block;
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
    will-change: transform; }

.is-qiita-widget-loaded .transition--s0 .transition__inner {
  -webkit-animation: transition 1s ease;
          animation: transition 1s ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.is-qiita-widget-loaded .transition--s0:nth-of-type(1) .transition__inner {
  -webkit-animation-delay: 0.13s;
          animation-delay: 0.13s; }

.is-qiita-widget-loaded .transition--s0:nth-of-type(2) .transition__inner {
  -webkit-animation-delay: 0.26s;
          animation-delay: 0.26s; }

.is-qiita-widget-loaded .transition--s1 .transition__inner {
  -webkit-animation: transition 1s ease;
          animation: transition 1s ease;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.is-qiita-widget-loaded .transition--s1:nth-of-type(1) .transition__inner {
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s; }

.is-qiita-widget-loaded .transition--s1:nth-of-type(2) .transition__inner {
  -webkit-animation-delay: 0.46s;
          animation-delay: 0.46s; }

.is-qiita-widget-loaded .transition--s2 .transition__inner {
  -webkit-animation: transition 1s ease;
          animation: transition 1s ease;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.is-qiita-widget-loaded .transition--s2:nth-of-type(1) .transition__inner {
  -webkit-animation-delay: 0.53s;
          animation-delay: 0.53s; }

.is-qiita-widget-loaded .transition--s2:nth-of-type(2) .transition__inner {
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s; }

.is-qiita-widget-loaded .transition--s3 .transition__inner {
  -webkit-animation: transition 1s ease;
          animation: transition 1s ease;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.is-qiita-widget-loaded .transition--s3:nth-of-type(1) .transition__inner {
  -webkit-animation-delay: 0.73s;
          animation-delay: 0.73s; }

.is-qiita-widget-loaded .transition--s3:nth-of-type(2) .transition__inner {
  -webkit-animation-delay: 0.86s;
          animation-delay: 0.86s; }

.is-qiita-widget-loaded .transition--s4 .transition__inner {
  -webkit-animation: transition 1s ease;
          animation: transition 1s ease;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.is-qiita-widget-loaded .transition--s4:nth-of-type(1) .transition__inner {
  -webkit-animation-delay: 0.93s;
          animation-delay: 0.93s; }

.is-qiita-widget-loaded .transition--s4:nth-of-type(2) .transition__inner {
  -webkit-animation-delay: 1.06s;
          animation-delay: 1.06s; }

.is-qiita-widget-loaded .transition--s5 .transition__inner {
  -webkit-animation: transition 1s ease;
          animation: transition 1s ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(1) .transition__inner {
  -webkit-animation-delay: 1.13s;
          animation-delay: 1.13s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(2) .transition__inner {
  -webkit-animation-delay: 1.26s;
          animation-delay: 1.26s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(3) .transition__inner {
  -webkit-animation-delay: 1.39s;
          animation-delay: 1.39s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(4) .transition__inner {
  -webkit-animation-delay: 1.52s;
          animation-delay: 1.52s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(5) .transition__inner {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(6) .transition__inner {
  -webkit-animation-delay: 1.78s;
          animation-delay: 1.78s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(7) .transition__inner {
  -webkit-animation-delay: 1.91s;
          animation-delay: 1.91s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(8) .transition__inner {
  -webkit-animation-delay: 2.04s;
          animation-delay: 2.04s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(9) .transition__inner {
  -webkit-animation-delay: 2.17s;
          animation-delay: 2.17s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(10) .transition__inner {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(11) .transition__inner {
  -webkit-animation-delay: 2.43s;
          animation-delay: 2.43s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(12) .transition__inner {
  -webkit-animation-delay: 2.56s;
          animation-delay: 2.56s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(13) .transition__inner {
  -webkit-animation-delay: 2.69s;
          animation-delay: 2.69s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(14) .transition__inner {
  -webkit-animation-delay: 2.82s;
          animation-delay: 2.82s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(15) .transition__inner {
  -webkit-animation-delay: 2.95s;
          animation-delay: 2.95s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(16) .transition__inner {
  -webkit-animation-delay: 3.08s;
          animation-delay: 3.08s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(17) .transition__inner {
  -webkit-animation-delay: 3.21s;
          animation-delay: 3.21s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(18) .transition__inner {
  -webkit-animation-delay: 3.34s;
          animation-delay: 3.34s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(19) .transition__inner {
  -webkit-animation-delay: 3.47s;
          animation-delay: 3.47s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(20) .transition__inner {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(21) .transition__inner {
  -webkit-animation-delay: 3.73s;
          animation-delay: 3.73s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(22) .transition__inner {
  -webkit-animation-delay: 3.86s;
          animation-delay: 3.86s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(23) .transition__inner {
  -webkit-animation-delay: 3.99s;
          animation-delay: 3.99s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(24) .transition__inner {
  -webkit-animation-delay: 4.12s;
          animation-delay: 4.12s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(25) .transition__inner {
  -webkit-animation-delay: 4.25s;
          animation-delay: 4.25s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(26) .transition__inner {
  -webkit-animation-delay: 4.38s;
          animation-delay: 4.38s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(27) .transition__inner {
  -webkit-animation-delay: 4.51s;
          animation-delay: 4.51s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(28) .transition__inner {
  -webkit-animation-delay: 4.64s;
          animation-delay: 4.64s; }

.is-qiita-widget-loaded .transition--s5:nth-of-type(29) .transition__inner {
  -webkit-animation-delay: 4.77s;
          animation-delay: 4.77s; }

@-webkit-keyframes transition {
  from {
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes transition {
  from {
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.is-no-transition .transition__inner {
  -webkit-transform: none;
          transform: none;
  will-change: none; }
/* #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #1abc9c;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
} */
body {
    font: 20px "Noto Sans Japanese", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}