{{ define "outerTheme" }}
<!DOCTYPE html>
<html lang="ja">
    <head>
        {{ template "head" . }}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="Content-Security-Policy" content="default-src https:">
        <title>{{printf "%s" .Title}}'s Site</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/theme.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97008781-2"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
        <script src="/js/theme.js"></script>
    </head>
    <body>
        <div id="particles-js"></div>
        <!-- Navbar -->
        <!-- <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Me</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">WHO</a></li>
                    <li><a href="#">WHAT</a></li>
                    <li><a href="#">WHERE</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->
        {{ template "content" . }}
        <!-- Footer -->
        <footer class="container-fluid bg-4 text-center">
            <p>このサイトはGAE/GOとBoostrapで良い感じに作成されています。</p> 
        </footer>
        <script src="/js/lib.bundled.js"></script>
        <script>
            (function () {
            var container = document.querySelector('.js-qiita-widget');
            new QiitaWidget(container, {
                subject: '人気の投稿',      // 見出し
                userId: '{{printf "%s" .Title}}',          // QiitaのユーザーID
                useShuffle: false,        // trueで表示記事をランダムに選択する
                sortByLike: true,         // trueで投稿を「いいね」数順でソートする
                useTransition: true,      // trueでロード直後のアニメーションを表示
                filterByLikesFrom: 0,     // 表示する記事の最低いいね数(0でフィルタ無効)
                maxToShow: 5,             // 最終的に表示する記事の最大件数
                cacheAge: 15 * 60 * 1000, // JSONレスポンスのキャッシュ有効時間(ミリ秒)
                perPage: 100,             // 一度のリクエストで取得する記事数(1〜100)
                maxRequest: 10            // perPage * maxRequest = 取得を試みる最大記事件数
            }).init();
            })();
        </script>
    </body>
</html>
{{ end }}

{{ define "head" }}
{{ end }}