{{ define "outerTheme" }}
<!DOCTYPE html>
<html lang="ja">
    <head>
        {{ template "head" . }}
        <meta charset="utf-8" />
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src https:"> -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-N2QJZDT');</script>
        <!-- End Google Tag Manager -->
        <meta content="{{printf "%s" .Name}}'s Site" name="title">
        <meta content="プロフィール的な実験サイト" name="description">
        <meta content='{{printf "%s" .Name}}' name='keywords'>

        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{printf "%s" .Name}}'s Site"/>
        <meta property="og:description" content="プロフィール的な実験サイト" />
        <meta property="og:image" content="{{printf "%s" .GravatarURL}}" />
        <meta property="og:url" content="https://ka8.app/" />
        <meta property="og:site_name" content="{{printf "%s" .Name}}"/>
        <meta content="summary" name="twitter:card" />
        <meta content="@twitter_acount" name="twitter:site" />

        <title>{{printf "%s" .Name}}'s Site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" integrity="sha384-Wz0GkrW3XFZuU5xW5nAqvhykOJBGnYoKkvXVJs8FebAx9oo/jXYQnn0XyUJZ4wgH" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/theme.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97008781-2"></script>
        <script async src="/js/theme.js"></script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2QJZDT" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {{ template "content" . }}
    <script>
        !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
        },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
        a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
        twq('init','nztwa');
        twq('track','PageView');
    </script>
    </body>
</html>
{{ end }}

{{ define "head" }}
{{ end }}