{{ define "content" }}
      <!-- First Container -->
      <div class="container-fluid bg-1 text-center" id="particle-js">
        <h3 class="margin">{{printf "%s" .Title}}</h3>
        <img src="{{printf "%s" .GravatarURL}}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="300" height="300">
        <h3>{{printf "%s" .Message}}</h3>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.js"></script>
      <script>
          particlesJS('particle-js', {
                  "particles": {
                  "number": {
                      "value": 80,
                      "density": {
                      "enable": true,
                      "value_area": 800
                      }
                  },
                  "color": {
                      "value": "#ffffff"
                  },
                  "shape": {
                      "type": "circle",
                      "stroke": {
                      "width": 0,
                      "color": "#000000"
                      },
                      "polygon": {
                      "nb_sides": 5
                      },
                      "image": {
                      "src": "img/github.svg",
                      "width": 100,
                      "height": 100
                      }
                  },
                  "opacity": {
                      "value": 0.5,
                      "random": false,
                      "anim": {
                      "enable": false,
                      "speed": 1,
                      "opacity_min": 0.1,
                      "sync": false
                      }
                  },
                  "size": {
                      "value": 5,
                      "random": true,
                      "anim": {
                      "enable": false,
                      "speed": 40,
                      "size_min": 0.1,
                      "sync": false
                      }
                  },
                  "line_linked": {
                      "enable": true,
                      "distance": 150,
                      "color": "#ffffff",
                      "opacity": 0.4,
                      "width": 1
                  },
                  "move": {
                      "enable": true,
                      "speed": 6,
                      "direction": "none",
                      "random": false,
                      "straight": false,
                      "out_mode": "out",
                      "attract": {
                      "enable": false,
                      "rotateX": 600,
                      "rotateY": 1200
                      }
                  }
                  },
                  "interactivity": {
                  "detect_on": "canvas",
                  "events": {
                      "onhover": {
                      "enable": true,
                      "mode": "repulse"
                      },
                      "onclick": {
                      "enable": true,
                      "mode": "push"
                      },
                      "resize": true
                  },
                  "modes": {
                      "grab": {
                      "distance": 400,
                      "line_linked": {
                          "opacity": 1
                      }
                      },
                      "bubble": {
                      "distance": 400,
                      "size": 40,
                      "duration": 2,
                      "opacity": 8,
                      "speed": 3
                      },
                      "repulse": {
                      "distance": 200
                      },
                      "push": {
                      "particles_nb": 4
                      },
                      "remove": {
                      "particles_nb": 2
                      }
                  }
                  },
                  "retina_detect": true,
                  "config_demo": {
                  "hide_card": false,
                  "background_color": "#b61924",
                  "background_image": "",
                  "background_position": "50% 50%",
                  "background_repeat": "no-repeat",
                  "background_size": "cover"
                  }
              });
      </script>
      <!-- Second Container -->
      <div class="container-fluid bg-2 text-center">
        <h3 class="margin">草</h3>
        <p>GitHub</p>
        <img src="https://grass-graph.moshimo.works/images/{{printf "%s" .Title}}.png">
        <!-- <a href="#" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-search"></span> Search
        </a> -->
      </div>
      
      <!-- Third Container (Grid) -->
      <div class="container-fluid bg-3 text-center">    
        <h3 class="margin">Work's</h3><br>
        <div class="row">
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
        </div>
      </div>
{{ end }}

{{ define "head" }}

{{ end }}