{{ define "content" }}
      <!-- First Container -->
      <div class="container-fluid bg-1 text-center">
        <h3 class="margin">{{printf "%s" .Title}}</h3>
        <img src="{{printf "%s" .GravatarURL}}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="{{printf "%s" .AvaterSize}}" height="{{printf "%s" .AvaterSize}}">
        <h3>{{printf "%s" .Message}}</h3>
      </div>
      <!-- Second Container -->
      <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Used Tech</h3>
        <p></p>
      </div>
      <!-- Third Container (Grid) -->
      <div class="container-fluid bg-3 text-center">
        <h3 class="margin">SNS</h3><br>
        <div class="row">
          <div class="col-sm-4">
            <img src="https://grass-graph.moshimo.works/images/{{printf "%s" .Title}}.png" class="img-responsive margin" style="width:100%" alt="Image">
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
          <div class="col-sm-4"> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <!-- <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image"> -->
          </div>
        </div>
      </div>
{{ end }}

{{ define "head" }}

{{ end }}