{{ define "content" }}
    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">{{printf "%s" .Name}}</h3>
        <img src="{{printf "%s" .GravatarURL}}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="{{printf "%s" .AvaterSize}}" height="{{printf "%s" .AvaterSize}}">
        <h5>{{printf "%s" .LongMessage}}</h5>
        <h5>{{printf "%s" .ShortMessage}}</h5>
        <h5>Mail：{{printf "%s" .Email}}</h5>
    </div>
    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">SNS</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>GitHub</p>
                <div class="github-card" data-github="{{printf "%s" .Name}}" data-width="100%" data-height="" data-theme="default"></div>
                <script async src="https://cdn.jsdelivr.net/github-cards/latest/widget.js" integrity="sha384-wxXWirNq2lFtRA4bZX42M2zFYI/ZZ/PbXnzLDnWsY+rweL3HRzsfDkKcEDrHG+kj" crossorigin="anonymous"></script>
                <img src="https://grass-graph.moshimo.works/images/{{printf "%s" .Name}}.png" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Qiita</p>
                <template id="qiita-user-tpl">
                    <p class="qiita-user__image transition transition--s1"><img class="qiita-user__img js-profile-image-url transition__inner" src="" alt="" /></p>
                    <div class="qiita-user__title">
                    <a class="qiita-user__url js-url transition transition--s2" target="_blank"><h1 class="qiita-user__id js-id transition__inner"></h1></a>
                    <p class="qiita-user__items transition transition--s3">
                        <span class="qiita-user__items-num js-items-count transition__inner"></span>
                        <span class="qiita-user__items-unit transition__inner">Items</span>
                    </p>
                    <p class="qiita-user__likes transition transition--s3">
                        <span class="qiita-user__likes-num js-likes-count transition__inner"></span>
                        <span class="qiita-user__likes-unit transition__inner">Contribution</span>
                    </p>
                    </div>
                </template>
                <template id="qiita-article-tpl">
                    <li class="qiita-article-list__item transition transition--s5">
                        <a class="qiita-article js-url transition transition__inner" target="_blank">
                            <h3 class="qiita-article__title js-title"></h3>
                        </a>
                    </li>
                </template>
                <section class="qiita-widget js-qiita-widget">
                    <header class="qiita-widget__header qiita-user js-qiita-user"></header>
                    <section class="qiita-widget__articles">
                        <h2 class="qiita-widget__articles-head transition transition--s4"><span class="transition__inner js-subject"></span></h2>
                        <ul class="qiita-article-list js-qiita-article"></ul>
                    </section>
                </section>
                <script src="/js/qiita-widget.js"></script>
                <script>
                    (function () {
                    var container = document.querySelector('.js-qiita-widget');
                    new QiitaWidget(container, {
                        subject: '人気の投稿',      // 見出し
                        userId: '{{printf "%s" .Name}}',          // QiitaのユーザーID
                        useShuffle: false,        // trueで表示記事をランダムに選択する
                        sortByLike: true,         // trueで投稿を「いいね」数順でソートする
                        useTransition: true,      // trueでロード直後のアニメーションを表示
                        filterByLikesFrom: 0,     // 表示する記事の最低いいね数(0でフィルタ無効)
                        maxToShow: 5,             // 最終的に表示する記事の最大件数
                        cacheAge: 15 * 60 * 1000, // JSONレスポンスのキャッシュ有効時間(ミリ秒)
                        perPage: 100,             // 一度のリクエストで取得する記事数(1〜100)
                        maxRequest: 10            // perPage * maxRequest = 取得を試みる最大記事件数
                    }).init();
                    })();
                </script>
            </div>
            <div class="col-sm-4">
                <p>Twitter</p>
                <a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/{{printf "%s" .Name}}?ref_src=twsrc%5Etfw">Tweets by KappaBull</a>
                <script async src="https://platform.twitter.com/widgets.js"></script>
            </div>
        </div>
    </div>
    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawSeriesChart);
            function drawSeriesChart() {
                var data = google.visualization.arrayToDataTable([
                    ['ID', 'やる気', '経験年数', '実務経験', 'スキル1-100'],
                    ['Unity3d', 5, 3.2, '有', 80],
                    ['Golang', 5, 0.7, '有', 60],
                    ['Docker', 4.5, 2, '有', 60],
                    ['Jenkins', 2.7, 3, '有', 80],
                    ['Ruby', 1.5, 2, '少し', 40],
                    ['Wordpress', 1, 0.2, '少し', 20],
                    ['Xcode', 3, 3.1, '有', 70],
                    ['GoogleAppEngine', 4.5, 0.2, '無', 10],
                    ['GoogleAppScript', 3, 0.5, '少し', 20],
                    ['RaspberryPi', 3.5, 0.4, '無', 10],
                    ['coreOS', 1, 1.5, '少し', 40],
                    ['rancherOS', 2.5, 0.3, '無', 20],
                    ['FreeNas', 2, 0.5, '無', 20]
                ]);
                var options = {
                    title: '使った事ある技術(2018/7)',
                    hAxis: {title: 'やる気1~5'},
                    vAxis: {title: '経験年数'},
                    chartArea: {
                        backgroundColor: {
                            fill: '#FFFFFF',
                            fillOpacity: 0.5,
                            stroke: '#FFFFFF', 
                            strokeWidth: 1
                        },
                    },
                    bubble: {
                        textStyle: {
                            fontSize: 12,
                            fontName: 'Noto Sans Japanese',
                            color: '#444444'
                        }
                    },
                    colors:['#3A6DC4','#38BC38', '#C63B3B']
                };
                var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
                chart.draw(data, options);
            }
        </script>
        <div id="series_chart_div" style="width: 100%; height: 400px;"></div>

    </div>
    <footer class="container-fluid bg-4 text-center">
        <p>このサイトはGAE/GOで作られています。</p> 
    </footer>
{{ end }}

{{ define "head" }}

{{ end }}